// Mixins
.font(@fontSize, @fontWeight) {
    font-size: @fontSize;
    font-weight: @fontWeight;
}

// Variable
@textColorDark: #333333;
@textColor: #3a376b;


* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

html, body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
    @media (min-width: 768px) {
        padding: 0 40px;
    }
}

.content-section {
    min-height: ~"calc(100vh - 126px)";
}

.site-nav {
    padding: 10px 40px;
    background-color: white;
    border-bottom: 1px solid lighten(@textColor, 60%);
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
    }
    &__logo {
        .font(24px, 900);
        text-transform: uppercase;
        color: @textColor;
        text-decoration: none;
    }
}

.site-footer {
    padding: 15px 40px;
    border-top: 1px solid lighten(@textColor, 60%);
    background-color: white;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            .font(12px, 400);
            margin: 0;
            text-align: center;
        }
    }
}

.plp {
    &__section {
        padding: 60px 0;
        h1 {
            .font(30px, 900);
            text-decoration: underline;
            margin: 0 0 30px;
            @media (min-width: 768px) {
                text-align: center;
            }
        }
    }
    &__title-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 20px;
        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
        .left-side {
            display: flex;
            align-items: flex-end;
            .grid-list__wrap {
                display: none;
                @media (min-width: 768px) {
                    display: flex;
                }
                button {
                    border: 2px solid #dedede;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 5px;
                    cursor: pointer;
                    &.active {
                        background-color: white;
                    }
                }
            }
        }
        h2 {
            .font(24px, 600);
            color: @textColor;
            margin: 0 0 15px;
            @media (min-width: 768px) {
                margin: 0 15px 0 0;
            }
        }
        .plp__sort-wrap {
            display: inline-flex;
            align-items: center;
            background-color: white;
            border: 2px solid #dedede;
            font-family: serif;
            padding: 10px 15px;
            label {
                margin: 0;
                .font(14px, 400);
                color: @textColor;
                margin-right: 5px;
            }
            .plp__sort {
                flex: 1;
                font-family: serif;
                .font(14px, 400);
                color: @textColor;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                padding: 0 25px 0 0;
                border: 0;
                outline: none;
                background-position: center right;
                background-repeat: no-repeat;
                background-image: url('../images/select-icon.png');
                background-size: contain;
            }
        }
    }
    &__items-wrap {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            margin: 0 -15px;
        }
        &--list {
            @media (min-width: 768px) {
                .plp__item {
                    max-width: 100%;
                    flex: 0 0 100%;
                    flex-direction: row;
                    .plp__item__figure {
                        display: flex;
                        max-height: 160px;
                        flex-direction: row-reverse;
                        align-items: center;
                        figure {
                            height: 100%;
                            img {
                                width: auto;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__item {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0 20px;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            max-width: 50%;
            flex: 0 0 50%;
            padding: 0 15px;
            margin: 0 0 30px;
        }
        @media (min-width: 991px) {
            max-width: 33.33%;
            flex: 0 0 33.33%;
        }
        &__figure {
            position: relative;
            figure {
                margin: 0;
                img {
                    display: block;
                    width: 100%;
                }
            }
            .plp__item__isFav  {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 15px;
                right: 15px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                outline: none;
                cursor: pointer;
                z-index: 9;
                &::after {
                    content: '';
                    width: 25px;
                    height: 25px;
                    background-position: center;
                    background-size: contain;
                    background-image: url('../images/heart.png');
                }
                &--fav {
                    &::after {
                        background-image: url('../images/heart-filled.png');
                    }
                }
            }
        }
        &__details {
            background-color: white;
            padding: 20px;
            flex: 1;
            .details-top {
                margin-bottom: 10px;
                .plp-title {
                    .font(22px, 400);
                    color: @textColor;
                    margin: 0 0 10px;
                    &::first-letter {
                        text-transform: uppercase
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
                .plp-size {
                    .font(14px, 400);
                    font-family: serif;
                    display: inline-block;
                    color: @textColorDark;
                    vertical-align: top;
                    margin-right: 5px;
                }
                .plp-rating {
                    list-style: none;
                    display: inline-flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    li {
                        width: 15px;
                        height: 15px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url('../images/star.png');
                    }
                }
            }
            .details-bottom {
                .plp-price {
                    display: inline-block;
                    .font(26px, 400);
                    color: @textColor;
                    margin-right: 10px;
                }
                .plp-old-price {
                    display: inline-block;
                    .font(14px, 400);
                    color: #7a7287;
                    margin-right: 10px;
                    text-decoration: line-through;
                }
                .plp-save-price {
                    display: inline-block;
                    .font(14px, 400);
                    color: #cc5476;
                }
            }
        }
    }
}